.canvas-container {
    height: 375px;
    width: 375px;
    canvas {
        background-image: url(../../assets/img/crystal-globe.png);
        background-size: 335px 335px !important;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
