.ball-options {
    flex-wrap: wrap;
    max-width: 85%;
    margin: 20px 0;
    .ball-option {
        width: 10%;
        img {
            width: 80%;
            max-width: 50px;
            height: auto;
            margin-bottom: 10px;
            opacity: 0.4;
            filter: grayscale(1);
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 1;
                filter: grayscale(0);
                transform: scale(1.2);
            }
            &.active {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}

span.apuesta-min {
    font-size: 12pt;
    font-weight: 300;
}

.bet-options {
       
    input#user-bet {
        font-size: 5em;
        text-align: center;
        background: transparent;
        border: none;
        margin-bottom: 20px;
        outline: 0;
        color: white;
        line-height: 0;
        &:focus, &:active, &:focus-visible &:focus-within {
            outline: 0;
        }
        ::-webkit-slider-thumb {
            background-color: red;
        }
    }
}

.form-range::-webkit-slider-thumb {
    background-color: #e04a98;
}

   
