<div class="selector-container">
    <form [formGroup]="selectorForm" novalidate>
        <h3 class="fw-bold">Selecciona una balota</h3>
        <div class="d-flex ball-options">
            <div *ngFor="let option of optionsArr" class="ball-option">
                <img src="./assets/img/balls/{{option}}.png" alt="{{option}}" [class.active]="option == selectorForm.controls['ball'].value" (click)="getSelectedBall(option)">
            </div>
            <input id="ball-selected" type="text" formControlName="ball" autocomplete="off" style="display: none;">
        </div>

        <h3 class="fw-bold">Coloca tu apuesta <span class="apuesta-min">(apuesta mínima 5€)</span></h3>
        <div class="bet-options">
            <div class="input-group">
                <input type="range" class="form-range" min="5" max="1000" step="5" id="user-bet" formControlName="bet">
            </div>
        </div>
    </form>
</div>
