.bet-slip-container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed 2px white;
    padding: 20px 10px;
    margin-bottom: 0px;
    border-radius: 40px;

    >* {
      margin: 0 5px;  
    }

    h3 {
        color: #e04a98;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16pt;
        span {
            color: #f9c975;
            font-weight: 300;
        }
    }

    img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        &.inactive {
            filter: grayscale(1);
            opacity: 0.4;
        }
    }
}

.start-button{
    text-align: center;
    width: 89%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 5px;
    background-color: transparent;
    border: 2px solid white;
    border-top: 0;
    color: #ffffff;
    padding: 20px 0;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: not-allowed;
    border-radius: 0 0 50px 50px;
    transition: all ease-in-out 0.2s;
    &:hover > div {
        transition: all ease-in-out 0.2s;
    }

    &.active{
        background-color: #e04a98;
        color: white;
        border: none;
        cursor: pointer;
        &:hover > div {
            transform: scale(1.1);
        }
    } 
}

